<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.segi.uhomecp.medicaltrans.reportjob.report.deptvolumemonth.dao.ReportDeptMonthMapper" >
   <!-- 批量插入科室月运送量数据 -->
	<insert id="saveDeptMonthIbatch" parameterType="com.segi.uhomecp.medicaltrans.report.monthrank.dept.model.DeptVolumeMonth">
    	<foreach collection="list" separator=";" item="item" index="index"> 
    	insert into evt_mt_dept_volume_month (ID, ORGAN_ID, GROUP_ORGAN_ID, HOUSE_ID, 
    		BUILD_ID, SID, FLOOR_ID, 
      		CYCLE_YM, TRANS_AMOUNT, DISPATCH_AMOUNT, AUTONOMOUS_AMOUNT, SPECIAL_AMOUNT,
      		URGENT_AMOUNT, COMMON_AMOUNT, CREATE_DATE, UPDATE_DATE
      		)
    	values (#{item.id,jdbcType=INTEGER}, #{item.organId,jdbcType=INTEGER}, #{item.groupOrganId,jdbcType=INTEGER}, 
      		#{item.houseId,jdbcType=INTEGER}, #{item.buildId,jdbcType=INTEGER}, #{item.sid,jdbcType=INTEGER}, 
      		#{item.floorId,jdbcType=INTEGER}, #{item.cycleYm,jdbcType=INTEGER}, #{item.transAmount,jdbcType=INTEGER}, 
      		#{item.dispatchAmount,jdbcType=INTEGER}, #{item.autonomousAmount,jdbcType=INTEGER}, 
      		#{item.specialAmount,jdbcType=INTEGER}, #{item.urgentAmount,jdbcType=INTEGER}, 
      		#{item.commonAmount,jdbcType=INTEGER}, #{item.createDate,jdbcType=INTEGER}, #{item.updateDate,jdbcType=INTEGER})
  		</foreach>
  	</insert>
	 
	<update id="updateDeptCount" parameterType="com.segi.uhomecp.medicaltrans.report.monthrank.dept.model.DeptVolumeMonth">
		update evt_mt_dept_volume_month set 
		<if test="dept.transAmount != null">
       		TRANS_AMOUNT = (TRANS_AMOUNT + #{dept.transAmount,jdbcType=INTEGER}),
     	</if>
		<if test="dept.dispatchAmount != null">
       		DISPATCH_AMOUNT = (DISPATCH_AMOUNT + #{dept.dispatchAmount,jdbcType=INTEGER}),
     	</if>
     	<if test="dept.autonomousAmount != null">
       		AUTONOMOUS_AMOUNT = (AUTONOMOUS_AMOUNT + #{dept.autonomousAmount,jdbcType=INTEGER}),
     	</if>
     	<if test="dept.specialAmount != null">
       		SPECIAL_AMOUNT = (SPECIAL_AMOUNT + #{dept.specialAmount,jdbcType=INTEGER}),
     	</if>
		<if test="dept.urgentAmount != null">
       		URGENT_AMOUNT = (URGENT_AMOUNT + #{dept.urgentAmount,jdbcType=INTEGER}),
     	</if>
		<if test="dept.commonAmount != null">
       		COMMON_AMOUNT = (COMMON_AMOUNT + #{dept.commonAmount,jdbcType=INTEGER}),
     	</if>
		<if test="dept.updateDate != null">
       		UPDATE_DATE = (#{dept.updateDate,jdbcType=INTEGER})
     	</if>	
		where HOUSE_ID = #{dept.houseId,jdbcType=INTEGER}
			AND	CYCLE_YM = #{dept.cycleYm,jdbcType=INTEGER}
	</update>	
	
	<select id="queryHouseId" resultType="Integer" parameterType="com.segi.uhomecp.medicaltrans.reportjob.query.deptvolumemonth.dto.DeptSqlDto">
		select HOUSE_ID 
			from evt_mt_dept_volume_month 
		WHERE 1=1
		AND HOUSE_ID IN
		<foreach collection="dto.houseIdList" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach> 	
		AND	CYCLE_YM = #{dto.cycleYm,jdbcType=INTEGER}
	</select>
</mapper>