<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.segi.uhomecp.medicaltrans.reportjob.report.source.dao.ReportSourceMapper">
  <select id="selectByOrganIdAndCycleYm" resultMap="com.segi.uhomecp.medicaltrans.report.monthamount.source.dao.SourceStatisticsMapper.BaseResultMap">
    select ID,TRANS_TYPE_PARENT_CODE,TRANS_AMOUNT from evt_mt_source_statistics
    where ORGAN_ID = #{organId,jdbcType=INTEGER}
      and CYCLE_YM = #{cycleYm,jdbcType=INTEGER}
  </select>
 
  <select id="selectByOrganIdListAndCycleYm" resultMap="com.segi.uhomecp.medicaltrans.report.monthamount.source.dao.SourceStatisticsMapper.BaseResultMap">
    select ID,FROM_HOUSE_ID,TRANS_AMOUNT from evt_mt_source_statistics
    where ORGAN_ID in (${list})
      and CYCLE_YM = #{cycleYm,jdbcType=INTEGER}
  </select>
 
   <select id="selectByOrganIdAndCycleYmList" resultMap="com.segi.uhomecp.medicaltrans.report.monthamount.source.dao.SourceStatisticsMapper.BaseResultMap">
    select ID,FROM_HOUSE_ID,TRANS_AMOUNT from evt_mt_source_statistics
    where ORGAN_ID = #{organId,jdbcType=INTEGER}
      and CYCLE_YM in (${list})
  </select>
   
   <update id="updateBySource" parameterType="com.segi.uhomecp.medicaltrans.report.monthamount.source.model.SourceStatistics">
    update evt_mt_source_statistics
    set TRANS_AMOUNT = TRANS_AMOUNT + #{transAmount,jdbcType=BIGINT},
      UPDATE_DATE = #{updateDate,jdbcType=BIGINT}
    where ORGAN_ID = #{organId,jdbcType=INTEGER}
      and CYCLE_YM = #{cycleYm,jdbcType=INTEGER}
      and FROM_HOUSE_ID = #{fromHouseId,jdbcType=INTEGER}
  </update>
  
  <insert id="saveBySource" parameterType="com.segi.uhomecp.medicaltrans.report.monthamount.source.model.SourceStatistics">  
     insert into evt_mt_source_statistics (
     ID,GROUP_ORGAN_ID,ORGAN_ID,CYCLE_YM,FROM_HOUSE_ID,TRANS_AMOUNT,CREATE_DATE,UPDATE_DATE
     )
    values (#{id,jdbcType=INTEGER}, #{groupOrganId,jdbcType=INTEGER}, #{organId,jdbcType=INTEGER}, #{cycleYm,jdbcType=INTEGER}, 
      #{fromHouseId,jdbcType=INTEGER}, #{transAmount,jdbcType=BIGINT}, #{createDate,jdbcType=BIGINT},
      #{item.updateDate,jdbcType=BIGINT})
  </insert>
  
    <!-- 批量修改运送类型 -->
  <update id="updateBatchSource" parameterType="java.util.List">  
    <foreach collection="list" separator=";" item="item" index="index">  
        update evt_mt_source_statistics set  
	        TRANS_AMOUNT = #{item.transAmount,jdbcType=BIGINT},
		    UPDATE_DATE = #{item.updateDate,jdbcType=BIGINT}
		where ID = #{item.id,jdbcType=INTEGER}
    </foreach>  
  </update>
  
  <!-- 批量新增运送类型-->
  <insert id="saveBatchSource" parameterType="java.util.List">  
    <foreach collection="list" separator=";" item="item" index="index">  
     insert into evt_mt_source_statistics (
     ID,GROUP_ORGAN_ID,ORGAN_ID,CYCLE_YM,FROM_HOUSE_ID,TRANS_AMOUNT,CREATE_DATE,UPDATE_DATE
     )
    values (#{id,jdbcType=INTEGER}, #{groupOrganId,jdbcType=INTEGER}, #{organId,jdbcType=INTEGER}, #{cycleYm,jdbcType=INTEGER}, 
      #{fromHouseId,jdbcType=INTEGER}, #{transAmount,jdbcType=BIGINT}, #{createDate,jdbcType=BIGINT},
      #{item.updateDate,jdbcType=BIGINT})
    </foreach>  
  </insert>
  
  <delete id="deleteByOrganIdAndCycleYm">
    delete from evt_mt_source_statistics
    where ORGAN_ID = #{organId,jdbcType=INTEGER}
      and CYCLE_YM = #{cycleYm,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByOrganListAndCycleYm">
    delete from evt_mt_source_statistics
    where ORGAN_ID in (${organIdList})
      and CYCLE_YM = #{cycleYm,jdbcType=INTEGER}
  </delete>
</mapper>
